*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #33475B;
  background-color: #F5F8FA;
    line-height: 1.625;
  /* background: lightgrey; */
}

body p{
  line-height: 1.625;
}


/* Regole per l'Header */
header .login-bar .col{
  background-color: #F5F8FA;
  height: 100%;
  width: 100%;
}

header .login-bar{
  height: 50%;
  width: 100%;
  border: 1px solid black;
}

header .nav-bar{
  background: white;
  /* width: 50%; */
}
/* header .nav-bar li{
  margin-right: 5%;
} */


/* Regole generali testi */

ul{

}

.title-box{
  margin-top: 10%;
  padding: 5% 0;
  margin-bottom: 5%;
}


/* regole gnerali blocchi */
header{
  /* height: 150px; */
  /* border: 2px solid black; */
  width: 100vw;
}

section{
  width: 100vw;
}

section::after{
  content: "";
  display: table;
  clear: both;
}



/* regole generali caselle liste e contenitori */

.row{
  width: 100%;
  padding-bottom: 5%;
}


.button-box{
  margin: 5% 0;
}

button{
  padding: 4% 8%;
  background-color: #FF8F73;
  border-radius: 4px;
  color: white;
  font-weight: lighter;
}

.note-box{
  font-size: 0.8em;
  font-weight: lighter;
}

.center-cont{
  width: 70%;
  margin: 0 auto;
}

/* regole di row */
.row::after{
  content: "";
  display: table;
  clear: both;
}

.features-wrapper-testo{
  text-align: center;
}



/* regole generali per le colonne e le liste */

.float-right{
  float: right;
}

.col{
  /* background: green; */
  /* border: 1px solid black; */
  float: left;
}

li{
  /* margin: 0; */
  list-style-image: url("list-img.jpg");
  /* padding: 5%; */
}

.style-box{
  border-radius: 10px;
  background-color: white;
}



/* Specifiche di liste*/

.liste-flottate li{
    float: left;
}

.box-tabellare li{
  /* margin: 0 1%; */
  float: left;
  list-style: none;
}

.section_3 ul{
  margin-left: 7%;
}

.section_3 li{
margin-left: 3%;
}

/* Regole per i testi e bottoni in base alla section */

.section_1, .section_4, footer{
  color: white;
}

.section_1 .note-box{
  max-width: 33%;
}

.section_1 button{
  font-size: 1em;
  background-color: #FFFFFF;
  color: #33475B;
  padding: 6% 12%;
}




.title-box h1{
  font-size: 3em;
  margin-bottom: 5%;
}

.section_1, .section_4 p{
  font-weight: lighter;
}

.section_3 .button-box{
  text-align: center;
}

.section_3 h4{
  text-align: center;
}


/* caratteristiche per le colonne in base al tipo di layout e della section */
.layout_2colonne .col{
  width: calc(100%/2);

}

.layout_1colonna .col{
  width: 100%;
}

.layout_3colonne .col{
  width: calc(100%/3);
}



.section_3 .size-box{
  /* height: 800px; */
  width: 100%;
  float: left;
  /* background-color: yellow; */
}



.section_3 .layout_3colonne .col{
  width: 30%;
}

.section_3 .layout_3colonne .col-cen{
  margin-left: 5%;
  margin-right: 5%;
}

.section_3 .row{
  margin: 0 auto;
}



/* Regole per le immagini */

.section_3 #img-learn{
  height: 150px;
  width: auto;
}

.section_3 .img-sizing{
  height: 150px;
  width: 100%;
  width: auto;
}

.list-logo-customer{
  width: 100%;
  height: auto;

}
.section_1 .img-background{
  background-image: url("hubspot-homepage.png");
  background-size: cover;
  min-height: 70vh;
  width: 100vw;
  background-attachment: inherit;
  background-position: bottom;
}

/* .img-background::after{
  content: "";
  display: table;
  clear: both;
} */





/* Regole per larghezza e lunghezza massima delle colonne */

header #list-nav{
  /* width: 50vw; */
}

.section_1 .col{
  max-width: 40%;
}







/* regole più specifiche per ogni section */

.section_1{
  /* height: auto; */
  width: 100vw;
  background-color: #356682;
}


.section_2{
  text-align: center;
}

.section_2 img{
  text-align: center;
  height: 200px;
  width: auto;
}

.section_2, .section_3, .section_5 .row{
  width: 90%;
  margin: 0 auto;
}
.section_4 .row_1{
  width: 90%;
  margin: 0 auto;
}

.section_4{
  background: #00B8A9;
}

.section_4{
  text-align: center;
}

.section_5, .section_6{
  background-color: white;
}

.box-tabellare .slot{
  width: 24%;
  /* height: 200px; */
  /* background: red; */
}

/* regole per le tabelle */
.img-item-lista-grande {
  height: 100px;
  width: auto;
}









footer{
  width: 100vw;
  height: 500px;
  background: #33475B;
}
