*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #33475B;
  background-color: #F5F8FA;
  line-height: 1.625;
  /* background: lightgrey; */
}

body footer p{
  line-height: 1.25;
  font-weight: lighter;
  webkit-font-smoothing: antialiased;
}


/* Regole per l'Header */
header .row{
  padding-bottom: 0;
  padding: 1% 0;
}

header .login-bar .col{
  background-color: #F5F8FA;
  height: 100%;
  width: 100%;
}

header .login-bar{
  height: 50%;
  width: 100%;
  border: 1px solid lightgrey;

}

header .nav-bar{
  background: white;

}

header .nav-bar .box-tabellare{
  min-width: 600px;
}
header .nav-bar li{
  margin-right: 6%;
  list-style-image: url("img/arrow-down.jpg");

}

header .nav-bar #list-nav a{
  text-decoration: none;
  color: #33475B;
}


/* Regole generali testi */

ul{

}

.title-box{
  margin-top: 10%;
  padding: 5% 0;
  margin-bottom: 5%;
}

.title-box h1{
  font-size: 2em;
  margin-bottom: 3%;
}



/* regole gnerali blocchi */
header{
  /* height: 150px; */
  /* border: 2px solid black; */
  width: 100vw;
}

section{
  width: 100vw;
}

section::after{
  content: "";
  display: table;
  clear: both;
}

.row{
  width: 100%;
  padding: 5%;
}



/* regole generali caselle liste e contenitori */




.note-box p{
  font-size: 0.8em;

}

.center-cont{
  width: 80%;
  margin: 0 auto;
}

/* regole di row */
.row::after{
  content: "";
  display: table;
  clear: both;
}

.features-wrapper-testo{
  text-align: center;
}

.note-box{
  margin: 5% 0;
}

.section_5 table td{
  width: 25%;
  height: auto;
  padding: 3%;
}

.section_5 table tr{
  height: 50px;
  width: 200px;
}

.section_5 table img{
  width: 100%;
  height: auto;
}

/* regole generali per le colonne e le liste */

.float-right{
  float: right;
}

.col{
  /* background: green; */
  /* border: 1px solid black; */
  float: left;

}

li{
  /* margin: 0; */
  list-style-image: url("list-img.jpg");
  font-weight:200;
  /* padding: 5%; */
}





/* Specifiche di liste*/

.liste-flottate li{
    float: left;
}

.box-tabellare li{
  /* margin: 0 1%; */
  float: left;
  list-style: none;
}

.section_3 ul{
  margin-left: 7%;

}

.section_3 li{
margin-left: 3%;
}

.item-griglia-grande{

  border: 1px solid white;
}


/* Regole per i testi e bottoni in base alla section */

.button-box{
  margin: 5% 0%;
}

button{
  padding: 4% 8%;
  background-color: #FF8F73;
  border-radius: 4px;
  color: white;
  font-weight: lighter;
}

.section_1, .section_4, footer{
  color: white;
}

.section_1 .note-box, .section_5 .note-box{
  max-width: 40%;
}

.section_1 .title-box h1, .section_5 .title-box h1{
  font-size: 3em;
  margin-bottom: 5%;
}

.section_1 button{
  font-size: 1em;
  background-color: #FFFFFF;
  color: #33475B;
  padding: 6% 12%;
}


.section_3 .button-box{
  text-align: center;
}

.section_3 h4{
  text-align: center;
}

.section_3 li{

}

.section_2 p{
  font-size: 1.3em;
}

.section_4 ul h2{
  font-size: 3em;
  margin: -4%;
}

.section_3 button{
  font-size: 1.1em;
}

/* caratteristiche per le colonne in base al tipo di layout e della section */
.layout_2colonne .col{
  width: calc(100%/2);

}

.layout_1colonna .col{
  width: 100%;
}

.layout_3colonne .col{
  width: calc(100%/3);
}







.section_3 .layout_3colonne .col{
  width: 30%;
}

.section_3 .layout_3colonne .col-cen{
  margin-left: 5%;
  margin-right: 5%;
}

.section_5 .col-resize{
  width: 45%;
}





/* Regole per le immagini */

.section_1 .img-background{
  background-image: url("hubspot-homepage.png");
  background-size: cover;
  min-height: 70vh;
  width: 100vw;
  background-attachment: inherit;
  background-position: bottom;
}


.section_3 #img-learn{
  height: 150px;
  width: auto;
}

.section_3 .img-sizing{
  height: 150px;
  width: 100%;
  width: auto;
}

.section_4 .img-item-griglia-grande{
  min-height: 40px;
  width: auto;
}





.section_6{
  background-image: url("img/persona.png");
  background-size:cover;
}

.





/* Regole per larghezza e lunghezza massima delle colonne */

header #list-nav{
  /* width: 50vw; */
}

.section_1 .col{
  max-width: 40%;
}







/* regole più specifiche per ogni section */

.section_1{
  /* height: auto; */
  width: 100vw;
  background-color: #356682;
  border-bottom: 4px solid #296582;
}


.section_2{
  text-align: center;
}

.section_2 img{
  text-align: center;
  height: 200px;
  width: auto;
}

.section_2, .section_3, .section_5 .row{
  width: 90%;
  margin: 0 auto;
}
.section_4 .row_1{
  width: 90%;
  margin: 0 auto;
}

.section_4{
  background: #00B8A9;
}

.section_4{
  text-align: center;
}

.section_5, .section_6{
  background-color: white;
}

.box-tabellare .slot{
  max-width: 24%;
  /* height: 200px; */
  /* background: red; */
}





/* regole per le tabelle */
.img-item-lista-grande {
  height: 100px;
  width: auto;
}

.item-griglia-grande{
  padding: 5%;
}

.style-box{
  border-radius: 10px;
  background-color: white;

}

.style-box .popular-features{
  /* padding: 2% 0; */
}

.style-box h4, h3, hr{
  margin: 20px 0;
  font-weight: 600;
  font-weight: normal;
  /* margin: 6% 0; */
}

 .style-box li{
   line-height: 2;
 }

 .section_3 .size-box{
   /* height: 800px; */
   width: 100%;
   float: left;
   font-weight: lighter;
   padding: 2% 4% 2% 0;
   /* background-color: yellow; */
 }

 .section_3 .size-box .features-wrapper-testo{
   max-width: 40%;
 }





/* Regole per margini e padding nei singoli box in base alla section */
.section_3 .col_1, .col_2, .col_3{
  margin-top: -7%;
}

.section_4 {
  min-height: 80vh;

}

.section_4, .section_2 .title-box{
  padding: 0 5%;
  margin: 0;

}

.section_5 table{
  margin-top: 20%;
}

.layout_3colonne .col_1, .col_2, .col_3{
  padding: 2%;
}











footer{
  /* width: 100vw; */
  /* height: 500px; */
  background: #33475B;
  text-transform: capitalize;
}

footer::after{
  content: "";
  display: table;
  clear: both;
}

footer table{
  width: 100%;

}

footer table td{
  padding: 1%;;
}

footer a{
  text-decoration: none;
  color: white;
  padding: 5% 0;
  font-size: 0.8em;
}


footer .note-box{
  margin-top: 1%;
}

footer .row-lang{
  text-align: center;
  margin: 2% 0;
}
footer .row-copyright{
  margin: 2% 0;
}

.row-copyright .float-right{
  /* position: relative;
  left: 50%; */
  text-align: right;
}

.row-copyright a, .list-lang a{

  font-size: 18px;
  padding: 1% 1%;

}

footer .icone-social i{
  margin: 0 3%;
}

.row-copyright, .row-lang{
  padding-bottom: 1%;
}
